.header {
    height: 50vh;
    color: #fff;
    background-image: url('../images/leaves_plant_branches_dark_119706_2560x1440.jpg');
    background-size: cover;
}
h1{
    text-align: center;
    margin: 0 auto;
    font-size: 160px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav p{
    text-transform: uppercase;
    font-size: large;
    font-weight: 600;
}
.main {
    background-color: darkolivegreen;

}
.firstTwo {
    display: flex;
    justify-content: space-between;
}
.main .bigPic span{
    display: block;
    width: 700px;
    height: 700px;
    border: 1px solid #000;
    background-image: url('../images/a55d7fc3fa0438975c7c4a4629f24cef.jpg');
    background-size: cover;
    background-position: center;

}
.main .smallPic span{
    display: block;
    width: 350px;
    height: 420px;
    border: 1px solid #000;
}
.olive {
    background-size: cover;
    background-position: center;
    background-image: url('../images/0_KrSgNW8VnRjb-lOU.jfif');
}
.bonsai {
    background-size: cover;
    background-position: center;
    background-image: url('../images/bonsai-black-background-traditional-japanese-miniature-tree-table-91025164.jpg');
}
.succ {
    background-size: cover;
    background-position: center;
    background-image: url('../images/c36a5c363d8e76516dd58e4bac8464f9.jpg');
}
.largePic span{
    background-size: cover;
    background-position: center;
    background-image: url('../images/6b5facda2a9a7bfa4ca55f120f32bb20.jpg')
}
.picText {
    display: flex;
    justify-content: space-between;
}
.thirdThree {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.main .largePic span{
    display: block;
    width: 100%;
    height: 500px;
    border: 1px solid #000;
}
.footer .info{
    display: flex;
    justify-content: space-between;
}
.footer .copyright {
    display: flex;
    justify-content: space-between;
}